nav {
  height: 20%;
  width: 100%;
  background-color: #3a3b3d;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#nameOfUser {
  color: #edecd5;
}
#leftHeader {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 30%;
  padding-bottom: 5px;
}
.leftHeaderButtons {
  font-family: Changa;
  color: #edecd5;
  background-color: transparent;
  border: none;
  font-size: 2vw;
  

}

body {
  background: #edecd5
}
#logo {
  color: #edecd5;
  font-family: Warnes;
  font-size: 2.5vw;
  
  margin-top: 50px;
  margin-bottom: 0px;
}
#slogan, #nameOfUser {
  color: #edecd5;
  font-family: Changa;
  font-size: 1vw;
  margin-top: 0px;
}
#rightHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: space-between; */
 
}
#logoAndSlogan {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 20px;
}
#yourTripsTitle {
  color: #3a3b3d;
  font-family: Changa;
  font-size: 2.7vw;

}
#tripCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trip-card {
  border: 1px solid black;
  width: 20%;
}
.card-images {
  width: 100%;
}

#newTrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Changa;
}
#newTripForm {
  display: flex;
  flex-direction: column;

}
input {
  margin: 5px;

}
#submitNewTrip {
  font-family: Changa;
  background-color: #3a3b3d;
  color:#edecd5;
  margin: 15px;
}

